# Feture extraction 피처 추출
- feature : 텍스트의 고유한 속성, 특징
- 피처를 추출하는 작업
- feature engineering: 피처 추출, 재추출
- feature selection : 원하는 피처 고르는 작업

-general feature: 자연어-> 자연어
텍스트 길이, 단어수,... 통계적 수치

-special feature
자연어 -> 숫자
벡터
사과 -> [0,1,0,0,0]
bag of words 

why?
-텍스트에서 중요한 단어만 뽑겠다.
-> 연산량 줄고, 정확도 높이기 위한 작업

- panda, numpy, visualization

In [ ]:
import pandas as pd

### table 형태로 데이터를 분석하는 라이브러리
- Series(1차원), DataFrame(2차원 이상)
- 가로를 column, 세로를 row, index, 걊은 value

In [ ]:
pd.DataFrame(data=[['a','b','c'],
                   ['a','b','c']])

   0  1  2
0  a  b  c
1  a  b  c

In [ ]:
pd.DataFrame(data=[['a','b','c'],
                   ['a','b','c']],
             columns = ['mon','tue','wed'])

  mon tue wed
0   a   b   c
1   a   b   c

In [ ]:
pd.DataFrame(data=[['a','b','c'],
                   ['a','b','c']],
             columns = ['mon','tue','wed'],
             index = ['tom','juliette'])

         mon tue wed
tom        a   b   c
juliette   a   b   c

In [ ]:
df = pd.DataFrame(data=[['a','b','c'],
                   ['a','b','c']])

In [ ]:
#column 
df.columns = ['math','korean', 'science'] #df먼저 정의한 후 나중에 붙일 수 있다
df

  math korean science
0    a      b       c
1    a      b       c

In [ ]:
df.index =['seoul','newyork']
df

        math korean science
seoul      a      b       c
newyork    a      b       c

In [ ]:
file ='/content/kwn_synset_list.tsv'  #tabi seperated
df = pd.read_csv(file,sep = '\t' ,encoding='utf-8') #wordnet

In [ ]:
df.head(5)

  # synset_id  ...       korean_lemmas
0  00001740-v  ...                 호흡하
1  00002325-v  ...                 호흡하
2  00002684-n  ...                물, 놈
3  00002724-v  ...                 질식하
4  00003553-n  ...  전체, 전적, 전부, 총체, 전반

[5 rows x 4 columns]

In [ ]:
df.sample(5) #randomly

     # synset_id  ... korean_lemmas
9473  15093482-n  ...         반, 황산
8528  13593219-n  ...        계수, 인수
9417  14975872-n  ...            반지
518   00420477-n  ...        핍박, 박해
4326  04960079-n  ...           무채색

[5 rows x 4 columns]

In [ ]:
df['english_lemmas'].sample(5)
#df.english_lemmas 공백이 없어야한다고?!??!!?

6040                                error, computer_error
1632    unsnarling, disentanglement, untangling, extri...
9128                                            shortness
2738                            armoured_car, armored_car
7031                                              grounds
Name: english_lemmas, dtype: object

In [ ]:
# korean_lemmas 단어 개수 세어서 'word_count' 새로운 열 만들기
df['word_count'] = df['korean_lemmas'].apply(lambda x: len(x.split(',')))


'''def function(x):
  return len(x)

lambda x : len(x)'''

     # synset_id   pos  ... korean_lemmas word_count
5273  06169285-n  Noun  ...            문학          1
7142  08680888-n  Noun  ...            착안          1
1264  00994623-n  Noun  ...            포격          1
2007  01852400-n  Noun  ...       원앙, 원앙새          2
9250  14649543-n  Noun  ...         은, 백금          2

[5 rows x 5 columns]

'def function(x):\n  return len(x)\n\nlambda x : len(x)'

In [ ]:
df.sample(5)

     # synset_id   pos             english_lemmas korean_lemmas  word_count
9146  14483744-n  Noun                 confidence        신뢰, 신용           2
4385  04991738-n  Noun         meter, metre, time            성상           1
7492  09994673-n  Noun  deacon, protestant_deacon            집사           1
9402  14949227-n  Noun                     matrix            기질           1
5876  07138915-n  Noun              consideration            전의           1

In [ ]:
word = '법의, 법복'
word.split(',')

['법의, 법복']

In [ ]:
#english_lemmas 개수 세어서 'english_count 열을 만들어라
df['english_count'] = df['english_lemmas'].apply(lambda x: len(str(x).split(',')))
df.head(5)

  # synset_id   pos  ... word_count english_count
0  00001740-v  Verb  ...          1             4
1  00002325-v  Verb  ...          1             1
2  00002684-n  Noun  ...          2             2
3  00002724-v  Verb  ...          1             1
4  00003553-n  Noun  ...          5             2

[5 rows x 6 columns]

In [ ]:
df_sample =df.loc[:,['english_lemmas','english_count']].sample(5)

In [ ]:
len(df_sample)

5

In [ ]:
df_sample

                                         english_lemmas  english_count
4784  discretion, discreetness, circumspection, prud...              4
1071                                       construction              1
1539                   competition, contention, rivalry              3
6922                                       night_school              1
5008      calculation, computation, reckoning, figuring              4

In [ ]:
df.pos.value_counts()

Noun         8688
Verb         1017
Adjective       9
Name: pos, dtype: int64

In [ ]:
#Quiz: 'Label' -> noun:0, verb:1, adj:2
def new(text):
  if text == "Noun":
    return 0
  elif text == 'Verb':
    return 1
  elif text == 'Adjective':
    return 2

df['Label'] = df['pos'].apply(new)
df

     # synset_id   pos  ... english_count Label
0     00001740-v  Verb  ...             4     1
1     00002325-v  Verb  ...             1     1
2     00002684-n  Noun  ...             2     0
3     00002724-v  Verb  ...             1     1
4     00003553-n  Noun  ...             2     0
...          ...   ...  ...           ...   ...
9709  15294607-n  Noun  ...             1     0
9710  15295045-n  Noun  ...             8     0
9711  15295416-n  Noun  ...             1     0
9712  15296687-n  Noun  ...             2     0
9713  15299097-n  Noun  ...             1     0

[9714 rows x 7 columns]

In [ ]:
df.to_csv('(path)',sep ='\t', encoding ='utf-8')   # 이름만 넣으면 덮어쓰여짐

In [ ]:
df = pd.read_csv("""경로 및 인자"")